/dec_17/nbproject/private/
/chapter2/nbproject/private/
/chapter2/build/
/java_dec_17/chapter_2/nbproject/private/
/java_dec_17/chapter_2/build/
/Excersizes/build/
/dec_17/chapter_2/nbproject/private/
/dec_17/chapter_2/build/
/dec_18/page48/nbproject/private/
/dec_18/page48/build/
/dec_18/page52/nbproject/private/
/dec_18/page52/build/
/dec_18/page56/nbproject/private/
/dec_18/page56/build/
/dec_18/for_loop/nbproject/private/
/dec_18/for_loop/build/
/dec_18/page58/nbproject/private/
/dec_18/page58/build/
/dec_18/page61/nbproject/private/
/dec_18/page61/build/
/dec_18/page66/nbproject/private/
/dec_18/page66/build/
/dec_19/dec_19/nbproject/private/
/dec_19/dec_19/build/
/dec_20/nbproject/private/
/dec_20/build/
/dec_22/nbproject/private/
/dec_22/build/